<div class="col-sm-12">
  <div class="row">
    <div class="col-sm-2">
      <h2 class="ww-title">Regional</h2>
   </div>
   <div class="col-sm-3">
      <div class="dropdown menu" appDropdown>
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Country & Region
        </button>
        <ul class="dropdown-menu menu-list" aria-labelledby="dropdownMenuButton1"  >
          <li><a class="dropdown-item" href="#">Vietnam</a></li>
          <li><a class="dropdown-item" href="#">Another Country</a></li>
          <li><a class="dropdown-item" href="#">Another Country</a></li>
        </ul>
      </div>
   </div>
  </div>
  <!-- end top  -->
  <div class="row my-5">
    <div class="col-sm-3">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs fw-bold text-primary text-uppercase mb-1">
                        Confirm</div>
                    <div class="h5 mb-0 fw-bold text-gray-800">267</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-user text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
    </div>
      <!-- end block 1  -->
    <div class="col-sm-3">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs fw-bold text-success text-uppercase mb-1">
                        Recovered</div>
                    <div class="h5 mb-0 fw-bold text-gray-800">171</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-plus-square text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
    </div>
      <!-- end block 2  -->
    <div class="col-sm-3">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs fw-bold text-danger text-uppercase mb-1">
                        Deaths</div>
                    <div class="h5 mb-0 fw-bold text-gray-800">0</div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-procedures fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
    </div>
      <!-- end block 3  -->
    <div class="col-sm-3">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs fw-bold text-info text-uppercase mb-1">
                      Fatality Rate
                    </div>
                    <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                            <div class="h5 mb-0 mr-3 fw-bold text-gray-800">0%</div>
                        </div>
                        <div class="col">
                            <div class="progress progress-sm mr-2">
                                <div class="progress-bar bg-info" role="progressbar" style="width: 0%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
    </div>
      <!-- end block 4  -->
  </div>
</div>
