<div class="col-sm-12">
  <h2 class="ww-title">World Wide</h2>
  <div class="row my-5">
    <div class="col-sm-3">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs fw-bold text-primary text-uppercase mb-1">
                        Confirm</div>
                    <div class="h5 mb-0 fw-bold text-gray-800">1,000,000</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-user text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
    </div>
      <!-- end block 1  -->
    <div class="col-sm-3">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs fw-bold text-success text-uppercase mb-1">
                        Recovered</div>
                    <div class="h5 mb-0 fw-bold text-gray-800">500,000</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-plus-square text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
    </div>
      <!-- end block 2  -->
    <div class="col-sm-3">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs fw-bold text-danger text-uppercase mb-1">
                        Deaths</div>
                    <div class="h5 mb-0 fw-bold text-gray-800">130,000</div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-procedures fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
    </div>
      <!-- end block 3  -->
    <div class="col-sm-3">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs fw-bold text-info text-uppercase mb-1">
                      Fatality Rate
                    </div>
                    <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                            <div class="h5 mb-0 mr-3 fw-bold text-gray-800">6.53%</div>
                        </div>
                        <div class="col">
                            <div class="progress progress-sm mr-2">
                                <div class="progress-bar bg-info" role="progressbar" style="width: 6.53%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
    </div>
      <!-- end block 4  -->
  </div>
</div>
